<div class="content-container">
  <p>
    <mat-toolbar color="primary">
      <div class="mat-toolbar-row">
        <div class="icon-container">
          <img
            src="https://img.icons8.com/stickers/100/fast-cart.png"
            alt="fast-cart"
            class="icon"
          />
        </div>
        <span class="heading">QuickCart Application</span>
        <div class="icon-container">
          <img
            src="https://img.icons8.com/wired/64/shopping-cart--v2.png"
            alt="shopping-cart--v2"
            class="icon"
          />
        </div>
        <span class="example-spacer"></span>
      </div>
    </mat-toolbar>
  </p>
</div>
